.App {
  text-align: center;
}
.card {
  width: 200px;
  height: 200px;
}
img { 
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  gap: 30px;
  padding: 10px;
  background-color: rgb(178, 221, 198);
  border-radius: 20px;
}
.container {
  text-align: center;

}